/* CSS Document */
/* line 6, ../sass/header.scss */
header#top {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  display: table;
  padding: 10px 10px 12px 10px;
  overflow: hidden;
}
/* line 14, ../sass/header.scss */
header#top h1 {
  display: table-cell;
}
/* line 18, ../sass/header.scss */
header#top #topnavi {
  font-size: 0.8em;
  color: #0033cc;
  display: table-cell;
  text-align: right;
  vertical-align: middle;
  padding-top: 0.5em;
}
@media all and (max-width: 500px) {
  /* line 18, ../sass/header.scss */
  header#top #topnavi {
    padding-top: 0;
  }
}
/* line 30, ../sass/header.scss */
header#top #topnavi li {
  display: inline;
  margin-left: 2em;
}
@media all and (max-width: 500px) {
  /* line 30, ../sass/header.scss */
  header#top #topnavi li {
    display: block;
    margin-bottom: -0.6em;
  }
}

/* line 42, ../sass/header.scss */
#global {
  position: absolute;
  top: 4.24rem;
  left: 0;
  z-index: 2;
  background-color: rgba(1, 32, 82, 0.9);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#77012052,EndColorStr=#77012052);
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#77012052,EndColorStr=#77012052)";
  color: #fff;
  width: 100%;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.6);
}
@media all and (max-width: 600px) {
  /* line 42, ../sass/header.scss */
  #global {
    background: none;
    box-shadow: none;
  }
}
/* line 54, ../sass/header.scss */
#global.fix {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
}
@media all and (max-width: 600px) {
  /* line 54, ../sass/header.scss */
  #global.fix {
    height: 550px;
  }
}
/* line 61, ../sass/header.scss */
#global.fix #live {
  top: 0.5em;
}
/* line 66, ../sass/header.scss */
#global .new {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 1.5em !important;
  height: 1.5em !important;
  font-size: 0.75em;
  font-weight: normal;
  text-align: center;
  line-height: 0.8em;
  color: #fff;
  background-color: #F00 !important;
  border-radius: 1.5em !important;
  padding-top: 0.4em !important;
}
/* line 80, ../sass/header.scss */
#global h2 {
  text-align: center;
  margin: -0.27em auto 0 auto;
}
@media all and (max-width: 1500px) {
  /* line 80, ../sass/header.scss */
  #global h2 {
    margin-top: -0.2em;
  }
}
@media all and (max-width: 600px) {
  /* line 80, ../sass/header.scss */
  #global h2 {
    position: absolute;
    top: 0.8em;
    left: 18%;
    z-index: 6;
    background: none;
    text-align: left;
  }
}
/* line 94, ../sass/header.scss */
#global h2 img {
  width: 30%;
  min-width: 340px;
  max-width: 672px;
  height: auto;
}
@media all and (max-width: 600px) {
  /* line 94, ../sass/header.scss */
  #global h2 img {
    min-width: 90px;
  }
}
/* line 106, ../sass/header.scss */
#global > dl {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  width: 100%;
  margin-bottom: -0.27em;
}
@media all and (max-width: 600px) {
  /* line 106, ../sass/header.scss */
  #global > dl {
    height: 550px;
    overflow: auto;
  }
}
/* line 120, ../sass/header.scss */
#global > dl .menu-trigger, #global > dl .menu-trigger span {
  display: block;
  transition: all .4s;
  box-sizing: border-box;
}
/* line 126, ../sass/header.scss */
#global > dl .menu-trigger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
  text-align: center;
  padding: 0.8% 1%;
}
@media all and (max-width: 1500px) {
  /* line 126, ../sass/header.scss */
  #global > dl .menu-trigger {
    padding-top: 0.4%;
  }
}
@media all and (max-width: 600px) {
  /* line 126, ../sass/header.scss */
  #global > dl .menu-trigger {
    padding: 1%;
    font-size: 0.75rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#88000000,EndColorStr=#88000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#88000000,EndColorStr=#88000000)";
  }
}
/* line 143, ../sass/header.scss */
#global > dl .menu-trigger span {
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
  margin: 0.7em;
  width: 2.5em;
}
/* line 151, ../sass/header.scss */
#global > dl .menu-trigger.on {
  background: none;
}
/* line 154, ../sass/header.scss */
#global > dl .menu-trigger.on span:nth-of-type(1) {
  -webkit-transform: translateY(0.85em) rotate(-315deg);
  transform: translateY(0.85em) rotate(-315deg);
}
/* line 159, ../sass/header.scss */
#global > dl .menu-trigger.on span:nth-of-type(2) {
  opacity: 0;
}
/* line 163, ../sass/header.scss */
#global > dl .menu-trigger.on span:nth-of-type(3) {
  -webkit-transform: translateY(-0.85em) rotate(315deg);
  transform: translateY(-0.85em) rotate(315deg);
}
/* line 169, ../sass/header.scss */
#global > dl .menu-trigger i {
  position: absolute;
  top: 32%;
  left: 5em;
  z-index: 0;
  font-size: 1.25em;
  padding: 0 5em 5em 0;
}
@media all and (max-width: 1500px) {
  /* line 169, ../sass/header.scss */
  #global > dl .menu-trigger i {
    position: absolute;
    top: 25%;
    left: 4.2em;
    z-index: 0;
  }
}
@media all and (max-width: 940px) {
  /* line 169, ../sass/header.scss */
  #global > dl .menu-trigger i {
    display: none;
  }
}
/* line 184, ../sass/header.scss */
#global > dl > dd {
  padding: 5em 1em;
  display: none;
  vertical-align: top;
  width: 33.33333%;
  flex: 1 1 250px;
  margin-bottom: 0.27em;
}
@media all and (max-width: 600px) {
  /* line 184, ../sass/header.scss */
  #global > dl > dd {
    margin-bottom: 0;
    padding: 6em 1em 1em;
    background-color: rgba(0, 0, 0, 0.8);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#88000000,EndColorStr=#88000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#88000000,EndColorStr=#88000000)";
  }
}
/* line 198, ../sass/header.scss */
#global > dl > dd:nth-of-type(2) {
  border-left: #fff 1px dotted;
  border-right: #fff 1px dotted;
}
@media all and (max-width: 600px) {
  /* line 198, ../sass/header.scss */
  #global > dl > dd:nth-of-type(2) {
    border: none;
  }
}
/* line 207, ../sass/header.scss */
#global > dl > dd dl {
  margin: 0 auto;
  display: none;
}
/* line 211, ../sass/header.scss */
#global > dl > dd dl dt {
  font-weight: bold;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  border-top: #fff 1px solid;
  border-bottom: #fff 1px solid;
}
/* line 219, ../sass/header.scss */
#global > dl > dd dl dd {
  background: none;
  margin: 0.5em 0 0 1.5em;
  color: #737373;
  position: relative;
}
/* line 225, ../sass/header.scss */
#global > dl > dd dl dd a {
  color: #fff;
}
/* line 228, ../sass/header.scss */
#global > dl > dd dl dd a.active {
  color: #2c7eff;
  text-decoration: line-through;
}
/* line 234, ../sass/header.scss */
#global > dl > dd dl dd span {
  margin-right: 0.5rem;
}
/* line 240, ../sass/header.scss */
#global > dl > dd i {
  font-style: normal;
  font-family: century;
  font-weight: normal;
  font-size: 0.6rem;
  margin-left: 1rem;
}
@media all and (max-width: 1200px) {
  /* line 240, ../sass/header.scss */
  #global > dl > dd i {
    display: none;
  }
}
/* line 254, ../sass/header.scss */
#global #live {
  position: absolute;
  top: -1em;
  right: 0.5em;
  z-index: 7;
  display: block;
  width: 10%;
  min-width: 70px;
  max-width: 195px;
  height: auto;
}
