/* CSS Document */
@keyframes load {
  0% {
    transform: translateY(50px) skewX(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0) skewX(-10deg);
    opacity: 1;
  }
}
/* line 18, ../sass/main.scss */
article {
  width: 100%;
  background: url(../img/common/dot.png);
  overflow: hidden;
  position: relative;
}
/* line 24, ../sass/main.scss */
article #pan {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: none;
  padding: 0.5em;
  width: 100%;
  color: #fff;
  background-color: rgba(1, 32, 82, 0.9);
}
@media all and (max-width: 500px) {
  /* line 34, ../sass/main.scss */
  article a {
    position: relative;
    z-index: 5;
  }
}
/* line 40, ../sass/main.scss */
article header#title {
  text-align: center;
  color: #fff !important;
  padding: 7em 0 0 0;
  text-shadow: -1px -1px 3px #000, 1px 1px 3px #000;
  animation: load 1s 1;
  transform: skewX(-10deg);
}
/* line 49, ../sass/main.scss */
article header#title h3 {
  font-size: 2.5em;
  font-weight: normal;
}
@media all and (max-width: 500px) {
  /* line 49, ../sass/main.scss */
  article header#title h3 {
    font-size: 1.5em;
    line-height: 1.5em;
  }
}
/* line 58, ../sass/main.scss */
article header#title h3 span {
  display: block;
  font-size: 3em;
  margin-bottom: 0.3em;
}
/* line 65, ../sass/main.scss */
article header#title p {
  margin-top: 1em;
  font-size: 1.5em;
  font-weight: normal;
}
/* line 70, ../sass/main.scss */
article header#title p#scroll {
  margin: 5em 0 0 3em;
  cursor: pointer;
}
/* line 74, ../sass/main.scss */
article header#title p#scroll span {
  display: block;
  margin: -0.2em 0 0;
}
/* line 82, ../sass/main.scss */
article .half {
  width: 50% !important;
  border-top: none;
  padding: 2em 3% !important;
}
/* line 87, ../sass/main.scss */
article .half:nth-of-type(even) {
  border-left: 1px dotted gray;
}
@media all and (max-width: 600px) {
  /* line 82, ../sass/main.scss */
  article .half {
    border-left: none !important;
    border-top: 1px dotted gray;
    width: 100% !important;
  }
  /* line 96, ../sass/main.scss */
  article .half:nth-of-type(odd) {
    border-top: none;
  }
}
/* line 101, ../sass/main.scss */
article .half dl, article .half ul, article .half p, article .half table {
  margin: 1em 0;
}
/* line 106, ../sass/main.scss */
article .one_third {
  width: 33.33333% !important;
}
/* line 109, ../sass/main.scss */
article .one_third:nth-of-type(3n-1) {
  border-left: gray dotted 1px;
  border-right: gray dotted 1px;
  border-top: none;
  border-bottom: none;
}
@media all and (max-width: 940px) {
  /* line 109, ../sass/main.scss */
  article .one_third:nth-of-type(3n-1) {
    border-left: none;
    border-right: none;
    border-top: gray solid 1px;
    border-bottom: gray solid 1px;
  }
}
@media all and (max-width: 940px) {
  /* line 106, ../sass/main.scss */
  article .one_third {
    width: 100% !important;
  }
}
/* line 127, ../sass/main.scss */
article .one_third h5 {
  margin-top: 5em !important;
}
/* line 131, ../sass/main.scss */
article .one_third p {
  margin-bottom: 2em;
}
/* line 135, ../sass/main.scss */
article .one_third img {
  width: 100%;
  height: auto;
}
/* line 141, ../sass/main.scss */
article .quarter {
  width: 25% !important;
  padding: 1em !important;
}
/* line 145, ../sass/main.scss */
article .quarter:nth-of-type(8n-1), article .quarter:nth-of-type(8n-3), article .quarter:nth-of-type(8n-4), article .quarter:nth-of-type(8n-6) {
  background-color: rgba(204, 204, 204, 0.8);
}
/* line 149, ../sass/main.scss */
article .quarter:nth-of-type(8n), article .quarter:nth-of-type(8n-2), article .quarter:nth-of-type(8n-5), article .quarter:nth-of-type(8n-7) {
  background-color: rgba(255, 255, 255, 0.3);
}
@media all and (max-width: 940px) {
  /* line 141, ../sass/main.scss */
  article .quarter {
    width: 50% !important;
  }
  /* line 156, ../sass/main.scss */
  article .quarter:nth-of-type(4n-1), article .quarter:nth-of-type(4n-2) {
    background-color: rgba(204, 204, 204, 0.8);
  }
  /* line 160, ../sass/main.scss */
  article .quarter:nth-of-type(4n), article .quarter:nth-of-type(4n-3) {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
@media all and (max-width: 600px) {
  /* line 141, ../sass/main.scss */
  article .quarter {
    width: 100% !important;
  }
  /* line 168, ../sass/main.scss */
  article .quarter:nth-of-type(even) {
    background-color: rgba(204, 204, 204, 0.8);
  }
  /* line 172, ../sass/main.scss */
  article .quarter:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.3);
  }
  /* line 176, ../sass/main.scss */
  article .quarter:nth-of-type(even) {
    padding-top: 5em !important;
  }
}
/* line 181, ../sass/main.scss */
article .quarter dl, article .quarter p {
  margin: 1em !important;
}
/* line 185, ../sass/main.scss */
article .quarter img {
  width: 100%;
  height: auto;
  padding: 0 1em;
}
/* line 192, ../sass/main.scss */
article div.contents {
  width: 100% !important;
  padding: 0;
}
/* line 196, ../sass/main.scss */
article div.contents > img {
  height: auto;
  padding: 0 3% 5em 0 !important;
  border: none;
}
/* line 203, ../sass/main.scss */
article section header, article div.contents header {
  text-align: center;
  margin-bottom: 7em;
  color: #012052;
  width: 100%;
  transform: skewX(-10deg);
}
/* line 210, ../sass/main.scss */
article section header h4, article div.contents header h4 {
  font-size: 2em;
  line-height: 100%;
}
/* line 215, ../sass/main.scss */
article section header p, article div.contents header p {
  margin: 0.5em 0 0 !important;
}
/* line 220, ../sass/main.scss */
article .contents {
  width: 100%;
  background: center top no-repeat fixed;
  overflow: hidden;
  background-size: cover;
  padding: 8em 3%;
  display: flex;
  flex-flow: row wrap;
}
/* line 231, ../sass/main.scss */
article .contents.bg0 {
  background-image: url(../img/common/10.png);
}
/* line 231, ../sass/main.scss */
article .contents.bg1 {
  background-image: url(../img/common/11.png);
}
/* line 231, ../sass/main.scss */
article .contents.bg2 {
  background-image: url(../img/common/12.png);
}
/* line 231, ../sass/main.scss */
article .contents.bg3 {
  background-image: url(../img/common/13.png);
}
/* line 231, ../sass/main.scss */
article .contents.bg4 {
  background-image: url(../img/common/14.png);
}
/* line 231, ../sass/main.scss */
article .contents.bg5 {
  background-image: url(../img/common/15.png);
}
/* line 236, ../sass/main.scss */
article .contents hr {
  width: 100%;
  display: block;
  border-top: 1px dotted gray;
  margin-bottom: 4em;
}
/* line 243, ../sass/main.scss */
article .contents > p, article .contents > dl {
  width: 100%;
}
/* line 247, ../sass/main.scss */
article .contents > section, article .contents > div {
  width: 100%;
  padding: 5em 0;
  background: none;
}
/* line 252, ../sass/main.scss */
article .contents > section:not(.half):not(.one_third):not(.quarter), article .contents > div:not(.half):not(.one_third):not(.quarter) {
  border-top: #666 1px dotted;
}
/* line 256, ../sass/main.scss */
article .contents > section.half, article .contents > div.half {
  margin-bottom: 4em;
  padding: 1em 0;
}
/* line 260, ../sass/main.scss */
article .contents > section.half:nth-of-type(odd), article .contents > div.half:nth-of-type(odd) {
  padding-right: 3%;
}
/* line 264, ../sass/main.scss */
article .contents > section.half:nth-of-type(even), article .contents > div.half:nth-of-type(even) {
  padding-left: 3%;
}
@media all and (max-width: 600px) {
  /* line 264, ../sass/main.scss */
  article .contents > section.half:nth-of-type(even), article .contents > div.half:nth-of-type(even) {
    padding-top: 5em !important;
  }
  /* line 270, ../sass/main.scss */
  article .contents > section.half:nth-of-type(even):nth-of-type(odd), article .contents > div.half:nth-of-type(even):nth-of-type(odd) {
    padding-right: 0.75%;
  }
  /* line 274, ../sass/main.scss */
  article .contents > section.half:nth-of-type(even):nth-of-type(even), article .contents > div.half:nth-of-type(even):nth-of-type(even) {
    padding-left: 0.75%;
  }
}
/* line 281, ../sass/main.scss */
article .contents > section.one_third, article .contents > div.one_third {
  padding: 7em 2em;
}
/* line 285, ../sass/main.scss */
article .contents > section > div, article .contents > div > div {
  display: flex;
  flex-flow: row nowrap;
  margin: 1em 0;
}
@media all and (max-width: 940px) {
  /* line 285, ../sass/main.scss */
  article .contents > section > div, article .contents > div > div {
    flex-flow: row wrap;
  }
  /* line 293, ../sass/main.scss */
  article .contents > section > div dl, article .contents > div > div dl {
    margin-top: 1em !important;
  }
}
/* line 300, ../sass/main.scss */
article .contents > div {
  margin-bottom: 4em;
}
/* line 303, ../sass/main.scss */
article .contents > div:nth-of-type(odd) {
  padding-right: 3% !important;
}
/* line 307, ../sass/main.scss */
article .contents > div:nth-of-type(even) {
  padding-left: 3% !important;
}
/* line 311, ../sass/main.scss */
article .contents > div img {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 1em;
}
/* line 319, ../sass/main.scss */
article .contents > img:not(.one_third):not(.half) {
  width: 100%;
  margin-bottom: 2em;
}
/* line 324, ../sass/main.scss */
article .contents .back_gray, article .contents .back_gray th, article .contents .back_gray td {
  background-color: rgba(204, 204, 204, 0.8);
}
/* line 328, ../sass/main.scss */
article .contents .back_white, article .contents .back_white th, article .contents .back_white td {
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 332, ../sass/main.scss */
article .contents figure {
  font-size: 0.8rem;
  line-height: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}
/* line 338, ../sass/main.scss */
article .contents figure figcaption {
  margin-top: 0.5rem;
}
/* line 343, ../sass/main.scss */
article .contents h5, article .contents caption {
  color: #012052;
  margin-bottom: 1em;
  padding: 0.5em;
  font-size: 1.25em;
  text-align: center;
}
/* line 351, ../sass/main.scss */
article .contents dl, article .contents .frame, article .contents .box {
  padding: 1em;
  border: #999 3px double !important;
  overflow: hidden;
  zoom: 1;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0.5em;
}
/* line 360, ../sass/main.scss */
article .contents dl:not(.half dl) {
  margin: 0;
}
/* line 364, ../sass/main.scss */
article .contents dt {
  color: #012052;
  font-weight: bold;
  clear: both;
  text-align: center;
  margin-top: 2em;
}
/* line 371, ../sass/main.scss */
article .contents dt:first-child {
  margin: 0;
}
/* line 376, ../sass/main.scss */
article .contents dd {
  overflow: hidden;
  text-align: center;
}
/* line 380, ../sass/main.scss */
article .contents dd a {
  color: #2c7eff;
}
/* line 383, ../sass/main.scss */
article .contents dd a span {
  margin-right: 0.5em;
}
/* line 389, ../sass/main.scss */
article .contents .box {
  margin: 3em 0 !important;
}
/* line 392, ../sass/main.scss */
article .contents .box dt {
  float: left;
  margin-top: 0;
  width: 7em;
  text-align: right;
}
/* line 399, ../sass/main.scss */
article .contents .box dd {
  text-align: left;
  margin: 0 0 0.5em 0;
  border-bottom: #666 1px dotted;
  padding-left: 7em;
  overflow: visible;
}
/* line 406, ../sass/main.scss */
article .contents .box dd:last-of-type {
  border: none;
}
/* line 412, ../sass/main.scss */
article .center {
  text-align: center;
}
