/* CSS Document */
@keyframes load {
  0% {
    transform: translateY(50px) skewX(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0) skewX(-10deg);
    opacity: 1;
  }
}
/* line 18, ../sass/main.scss */
article {
  width: 100%;
  background: url(../img/common/dot.png);
  overflow: hidden;
  position: relative;
}
/* line 24, ../sass/main.scss */
article #pan {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: none;
  padding: 0.5em;
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
}
@media all and (max-width: 500px) {
  /* line 34, ../sass/main.scss */
  article a {
    position: relative;
    z-index: 5;
  }
}
/* line 40, ../sass/main.scss */
article header#title {
  text-align: center;
  color: #fff !important;
  padding: 7em 0 0 0;
  text-shadow: -1px -1px 3px #000, 1px 1px 3px #000;
  animation: load 1s 1;
  transform: skewX(-10deg);
}
@media all and (max-width: 600px) {
  /* line 40, ../sass/main.scss */
  article header#title {
    padding-top: 9em;
  }
}
/* line 52, ../sass/main.scss */
article header#title h3 {
  font-size: 2.5em;
  font-weight: normal;
}
@media all and (max-width: 600px) {
  /* line 52, ../sass/main.scss */
  article header#title h3 {
    font-size: 1em;
    line-height: 1em;
  }
}
/* line 61, ../sass/main.scss */
article header#title h3 span {
  display: block;
  font-size: 3em;
  margin-bottom: 0.3em;
}
@media all and (max-width: 600px) {
  /* line 61, ../sass/main.scss */
  article header#title h3 span {
    font-size: 5em;
  }
}
/* line 72, ../sass/main.scss */
article header#title p {
  margin-top: 1em;
  font-size: 1.5em;
  font-weight: normal;
}
@media all and (max-width: 600px) {
  /* line 72, ../sass/main.scss */
  article header#title p {
    font-size: 1.5em;
    line-height: 1em;
    margin-bottom: 5em;
  }
}
/* line 83, ../sass/main.scss */
article header#title p#scroll {
  margin: 5em 0 0 3em;
  cursor: pointer;
}
@media all and (max-width: 600px) {
  /* line 83, ../sass/main.scss */
  article header#title p#scroll {
    display: none;
  }
}
/* line 91, ../sass/main.scss */
article header#title p#scroll span {
  display: block;
  margin: -0.2em 0 0;
}
/* line 99, ../sass/main.scss */
article .half {
  width: 50% !important;
  border-top: none;
  padding: 2em 3% !important;
}
/* line 104, ../sass/main.scss */
article .half:nth-of-type(even) {
  border-left: 1px dotted gray;
}
@media all and (max-width: 600px) {
  /* line 99, ../sass/main.scss */
  article .half {
    border-left: none !important;
    width: 100% !important;
  }
  /* line 112, ../sass/main.scss */
  article .half:nth-of-type(odd) {
    border-top: none;
  }
}
/* line 117, ../sass/main.scss */
article .half dl, article .half ul, article .half p, article .half table {
  margin: 1em 0;
}
/* line 122, ../sass/main.scss */
article .one_third {
  width: 33.33333% !important;
}
/* line 125, ../sass/main.scss */
article .one_third:nth-of-type(3n-1) {
  border-left: gray dotted 1px;
  border-right: gray dotted 1px;
  border-top: none;
  border-bottom: none;
}
@media all and (max-width: 940px) {
  /* line 125, ../sass/main.scss */
  article .one_third:nth-of-type(3n-1) {
    border-left: none;
    border-right: none;
    border-top: gray solid 1px;
    border-bottom: gray solid 1px;
  }
}
@media all and (max-width: 940px) {
  /* line 122, ../sass/main.scss */
  article .one_third {
    width: 100% !important;
  }
}
/* line 143, ../sass/main.scss */
article .one_third h5 {
  margin-top: 5em !important;
}
/* line 147, ../sass/main.scss */
article .one_third p {
  margin-bottom: 2em;
}
/* line 151, ../sass/main.scss */
article .one_third img {
  width: 100%;
  height: auto;
}
/* line 157, ../sass/main.scss */
article .quarter {
  width: 25% !important;
  padding: 1em !important;
}
/* line 161, ../sass/main.scss */
article .quarter:nth-of-type(8n-1), article .quarter:nth-of-type(8n-3), article .quarter:nth-of-type(8n-4), article .quarter:nth-of-type(8n-6) {
  background-color: rgba(204, 204, 204, 0.8);
}
/* line 165, ../sass/main.scss */
article .quarter:nth-of-type(8n), article .quarter:nth-of-type(8n-2), article .quarter:nth-of-type(8n-5), article .quarter:nth-of-type(8n-7) {
  background-color: rgba(255, 255, 255, 0.3);
}
@media all and (max-width: 940px) {
  /* line 157, ../sass/main.scss */
  article .quarter {
    width: 50% !important;
  }
  /* line 172, ../sass/main.scss */
  article .quarter:nth-of-type(4n-1), article .quarter:nth-of-type(4n-2) {
    background-color: rgba(204, 204, 204, 0.8);
  }
  /* line 176, ../sass/main.scss */
  article .quarter:nth-of-type(4n), article .quarter:nth-of-type(4n-3) {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
@media all and (max-width: 600px) {
  /* line 157, ../sass/main.scss */
  article .quarter {
    width: 100% !important;
  }
  /* line 184, ../sass/main.scss */
  article .quarter:nth-of-type(even) {
    background-color: rgba(204, 204, 204, 0.8);
  }
  /* line 188, ../sass/main.scss */
  article .quarter:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.3);
  }
  /* line 192, ../sass/main.scss */
  article .quarter:nth-of-type(even) {
    padding-top: 5em !important;
  }
}
/* line 197, ../sass/main.scss */
article .quarter dl, article .quarter p {
  margin: 1em !important;
}
/* line 201, ../sass/main.scss */
article .quarter img {
  width: 100%;
  height: auto;
  padding: 0 1em;
}
/* line 208, ../sass/main.scss */
article div.contents {
  width: 100% !important;
  padding: 0;
}
/* line 212, ../sass/main.scss */
article div.contents > img {
  height: auto;
  padding: 0 3% 5em 0 !important;
  border: none;
}
/* line 219, ../sass/main.scss */
article section header, article div.contents header {
  text-align: center;
  margin-bottom: 7em;
  color: #012052;
  width: 100%;
  transform: skewX(-10deg);
}
/* line 226, ../sass/main.scss */
article section header h4, article div.contents header h4 {
  font-size: 2em;
  line-height: 100%;
}
/* line 231, ../sass/main.scss */
article section header p, article div.contents header p {
  margin: 0.5em 0 0 !important;
}
/* line 236, ../sass/main.scss */
article .contents {
  width: 100%;
  background: center top no-repeat fixed;
  overflow: hidden;
  background-size: cover;
  padding: 8em 3%;
  display: flex;
  flex-flow: row wrap;
}
/* line 247, ../sass/main.scss */
article .contents.bg1 {
  background-image: url(../img/common/01.png);
}
/* line 247, ../sass/main.scss */
article .contents.bg2 {
  background-image: url(../img/common/02.png);
}
/* line 247, ../sass/main.scss */
article .contents.bg3 {
  background-image: url(../img/common/03.png);
}
/* line 247, ../sass/main.scss */
article .contents.bg4 {
  background-image: url(../img/common/04.png);
}
/* line 247, ../sass/main.scss */
article .contents.bg5 {
  background-image: url(../img/common/05.png);
}
/* line 247, ../sass/main.scss */
article .contents.bg6 {
  background-image: url(../img/common/06.png);
}
/* line 247, ../sass/main.scss */
article .contents.bg7 {
  background-image: url(../img/common/07.png);
}
/* line 247, ../sass/main.scss */
article .contents.bg8 {
  background-image: url(../img/common/08.png);
}
/* line 252, ../sass/main.scss */
article .contents hr {
  width: 100%;
  display: block;
  border-top: 1px dotted gray;
  margin-bottom: 4em;
}
/* line 259, ../sass/main.scss */
article .contents > p, article .contents > dl {
  width: 100%;
}
/* line 263, ../sass/main.scss */
article .contents > section, article .contents > div {
  width: 100%;
  padding: 5em 0;
  background: none;
}
/* line 268, ../sass/main.scss */
article .contents > section:not(.half):not(.one_third):not(.quarter), article .contents > div:not(.half):not(.one_third):not(.quarter) {
  border-top: #666 1px dotted;
}
/* line 272, ../sass/main.scss */
article .contents > section.half, article .contents > div.half {
  margin-bottom: 4em;
  padding: 1em 0;
}
/* line 276, ../sass/main.scss */
article .contents > section.half:nth-of-type(odd), article .contents > div.half:nth-of-type(odd) {
  padding-right: 3%;
}
/* line 280, ../sass/main.scss */
article .contents > section.half:nth-of-type(even), article .contents > div.half:nth-of-type(even) {
  padding-left: 3%;
}
@media all and (max-width: 600px) {
  /* line 280, ../sass/main.scss */
  article .contents > section.half:nth-of-type(even), article .contents > div.half:nth-of-type(even) {
    padding-top: 5em !important;
  }
  /* line 286, ../sass/main.scss */
  article .contents > section.half:nth-of-type(even):nth-of-type(odd), article .contents > div.half:nth-of-type(even):nth-of-type(odd) {
    padding-right: 0.75%;
  }
  /* line 290, ../sass/main.scss */
  article .contents > section.half:nth-of-type(even):nth-of-type(even), article .contents > div.half:nth-of-type(even):nth-of-type(even) {
    padding-left: 0.75%;
  }
}
/* line 297, ../sass/main.scss */
article .contents > section.one_third, article .contents > div.one_third {
  padding: 7em 2em;
}
/* line 301, ../sass/main.scss */
article .contents > section > div, article .contents > div > div {
  display: flex;
  flex-flow: row nowrap;
  margin: 1em 0;
}
@media all and (max-width: 940px) {
  /* line 301, ../sass/main.scss */
  article .contents > section > div, article .contents > div > div {
    flex-flow: row wrap;
  }
  /* line 309, ../sass/main.scss */
  article .contents > section > div dl, article .contents > div > div dl {
    margin-top: 1em !important;
  }
}
/* line 316, ../sass/main.scss */
article .contents > div {
  margin-bottom: 4em;
}
/* line 319, ../sass/main.scss */
article .contents > div:nth-of-type(odd) {
  padding-right: 3% !important;
}
/* line 323, ../sass/main.scss */
article .contents > div:nth-of-type(even) {
  padding-left: 3% !important;
}
/* line 327, ../sass/main.scss */
article .contents > div img {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 1em;
}
/* line 335, ../sass/main.scss */
article .contents > img:not(.one_third):not(.half) {
  width: 100%;
  margin-bottom: 2em;
}
/* line 340, ../sass/main.scss */
article .contents .back_gray, article .contents .back_gray th, article .contents .back_gray td {
  background-color: rgba(204, 204, 204, 0.8);
}
/* line 344, ../sass/main.scss */
article .contents .back_white, article .contents .back_white th, article .contents .back_white td {
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 348, ../sass/main.scss */
article .contents figure {
  font-size: 0.8rem;
  line-height: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}
/* line 354, ../sass/main.scss */
article .contents figure figcaption {
  margin-top: 0.5rem;
}
/* line 359, ../sass/main.scss */
article .contents h5, article .contents caption {
  color: #012052;
  margin-bottom: 1em;
  padding: 0.5em;
  font-size: 1.25em;
  text-align: center;
}
/* line 367, ../sass/main.scss */
article .contents dl, article .contents .frame, article .contents .box {
  padding: 1em;
  border: #999 3px double !important;
  overflow: hidden;
  zoom: 1;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0.5em;
}
/* line 376, ../sass/main.scss */
article .contents dl:not(.half dl) {
  margin: 0;
}
/* line 380, ../sass/main.scss */
article .contents dt {
  color: #012052;
  font-weight: bold;
  clear: both;
  text-align: center;
  margin-top: 2em;
}
/* line 387, ../sass/main.scss */
article .contents dt:first-child {
  margin: 0;
}
/* line 392, ../sass/main.scss */
article .contents dd {
  overflow: hidden;
  text-align: center;
}
/* line 396, ../sass/main.scss */
article .contents dd a {
  color: #2c7eff;
}
/* line 399, ../sass/main.scss */
article .contents dd a span {
  margin-right: 0.5em;
}
/* line 405, ../sass/main.scss */
article .contents .box {
  margin: 3em 0 !important;
}
/* line 408, ../sass/main.scss */
article .contents .box dt {
  float: left;
  margin-top: 0;
  width: 7em;
  text-align: right;
}
/* line 415, ../sass/main.scss */
article .contents .box dd {
  text-align: left;
  margin: 0 0 0.5em 0;
  border-bottom: #666 1px dotted;
  padding-left: 7em;
  overflow: visible;
}
/* line 422, ../sass/main.scss */
article .contents .box dd:last-of-type {
  border: none;
}
/* line 428, ../sass/main.scss */
article .center {
  text-align: center;
}
