@charset "UTF-8";
@keyframes bounce {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
/* line 19, ../sass/past.scss */
article {
  overflow: hidden;
}
/* line 22, ../sass/past.scss */
article .contents {
  flex-wrap: wrap-reverse;
}
/* line 25, ../sass/past.scss */
article .contents > section {
  border: none !important;
  position: relative;
}
/* line 29, ../sass/past.scss */
article .contents > section:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  content: '';
  height: 100%;
  border-left: #012052 solid 5px;
}
/* line 36, ../sass/past.scss */
article .contents > section h4 {
  background-color: #012052;
  color: #fff;
  margin: 0 0 2em -0.5em;
  padding: 1em;
  text-align: center;
  max-width: 15em;
  transform: skewX(-10deg);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
/* line 47, ../sass/past.scss */
article .contents > section ul {
  list-style: none;
  padding: 0 0 0 2em;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
}
/* line 54, ../sass/past.scss */
article .contents > section ul li {
  visibility: hidden;
}
/* line 57, ../sass/past.scss */
article .contents > section ul li.show {
  visibility: visible !important;
  animation: bounce 0.6s;
  margin-bottom: 3em;
  position: relative;
}
/* line 63, ../sass/past.scss */
article .contents > section ul li.show:before {
  position: absolute;
  top: 0;
  left: -0.9em;
  z-index: 1;
  content: '';
  width: 0;
  height: 0;
  border-top: 1em solid #fff;
  border-left: 1em solid transparent;
}
/* line 73, ../sass/past.scss */
article .contents > section ul li h5 {
  margin: 0;
  padding: 1em 1em 0 1em;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}
/* line 78, ../sass/past.scss */
article .contents > section ul li h5:before {
  content: '【';
}
/* line 82, ../sass/past.scss */
article .contents > section ul li h5:after {
  content: '】';
}
/* line 87, ../sass/past.scss */
article .contents > section ul li p {
  padding: 1em;
  font-weight: bold;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}
/* line 92, ../sass/past.scss */
article .contents > section ul li p i {
  color: #012052;
}
/* line 96, ../sass/past.scss */
article .contents > section ul li p .fa-circle {
  color: #012052;
}
/* line 100, ../sass/past.scss */
article .contents > section ul li p .fa-inverse {
  color: #C93;
}
/* line 105, ../sass/past.scss */
article .contents > section ul li h5, article .contents > section ul li p {
  background-color: #fff;
}
/* line 109, ../sass/past.scss */
article .contents > section ul li a:after {
  content: ' ≫';
}

@media screen and (min-width: 40em) {
  /* line 119, ../sass/past.scss */
  .contents {
    margin: 0 auto;
  }
  /* line 122, ../sass/past.scss */
  .contents > section:before {
    left: 50% !important;
  }
  /* line 126, ../sass/past.scss */
  .contents h4 {
    margin: 0 auto 2em auto !important;
  }
  /* line 130, ../sass/past.scss */
  .contents ul {
    padding-left: 0;
    justify-content: space-between;
  }
  /* line 134, ../sass/past.scss */
  .contents ul .show {
    width: 46%;
    margin-top: 2em;
    text-align: center;
  }
  /* line 141, ../sass/past.scss */
  .contents ul .show:nth-of-type(odd):before {
    border-top: 1em solid #fff;
    border-right: 1em solid transparent;
    right: -1em;
    left: auto;
  }
  /* line 149, ../sass/past.scss */
  .contents ul .show:nth-of-type(even) {
    margin: 7em 0 0 -2em;
  }
}
