/* CSS Document */
.contents .half {
  overflow: hidden;
  text-align: center;
  order: 2;
  position: relative; }
  @media all and (max-width: 940px) {
    .contents .half {
      order: 1;
      width: 100% !important; } }
  @media all and (max-width: 940px) {
    .contents .half {
      border-bottom: 1px dotted #4d4d4d; } }
  .contents .half h5 {
    margin: 0; }
  .contents .half div {
    display: flex;
    flex-flow: row nowrap; }
    .contents .half div section {
      padding: 0; }
      @media all and (max-width: 940px) {
        .contents .half div section {
          margin-left: 1.5em; } }
      @media all and (max-width: 500px) {
        .contents .half div section {
          margin-left: 1em; } }
      .contents .half div section p {
        margin: 0; }
  .contents .half ul .prev {
    position: absolute;
    top: 50em;
    left: 1em;
    z-index: 6;
    display: none; }
    @media all and (max-width: 940px) {
      .contents .half ul .prev {
        margin-left: -1em; } }
  .contents .half ul .next {
    position: absolute;
    top: 50em;
    right: 1em;
    z-index: 6; }
    @media all and (max-width: 940px) {
      .contents .half ul .next {
        margin-right: -1em; } }
  .contents .half ul a {
    color: #012052; }
    .contents .half ul a:hover {
      color: #035be9; }
.contents table {
  border-collapse: collapse;
  border: #b3b3b3 solid 1px;
  width: 100%;
  padding: 0; }
  @media all and (max-width: 940px) {
    .contents table.quarter {
      width: 48% !important; } }
  @media all and (max-width: 500px) {
    .contents table.quarter {
      width: 100% !important; } }
  .contents table.quarter:nth-of-type(1) {
    order: 1; }
    @media all and (max-width: 940px) {
      .contents table.quarter:nth-of-type(1) {
        order: 2;
        margin-right: 4%; } }
    @media all and (max-width: 600px) {
      .contents table.quarter:nth-of-type(1) {
        margin-bottom: 5em; } }
  .contents table.quarter:nth-of-type(2) {
    order: 3; }
  .contents table caption span {
    font-size: 1.25em; }
  .contents table thead th {
    background-color: rgba(77, 77, 77, 0.8);
    color: #fff; }
  .contents table th, .contents table td {
    border-right: #b3b3b3 dotted 1px;
    padding: 0.7em 0.5em;
    text-align: center;
    width: auto; }
  .contents table.battery {
    border: none;
    width: auto;
    border-collapse: separate;
    border-spacing: 0 0.5em;
    margin-bottom: 5em !important; }
    .contents table.battery th, .contents table.battery td {
      border: none;
      text-align: left;
      padding: 0.4em;
      line-height: 100%; }
    .contents table.battery .b_n {
      background-color: rgba(44, 126, 255, 0.8);
      color: #fff; }
    .contents table.battery .b_e {
      background-color: rgba(77, 77, 77, 0.8);
      color: #fff; }
  .contents table.score thead th {
    background-color: rgba(1, 32, 82, 0.9); }
  .contents table .current {
    background-color: rgba(26, 26, 26, 0.8) !important;
    font-weight: bold; }
    .contents table .current a {
      color: #fff; }
  .contents table.blue caption {
    color: #2c7eff !important; }
  .contents table.blue thead th {
    background-color: rgba(44, 126, 255, 0.8); }
  .contents table.border caption {
    color: #666666 !important; }
  .contents table .back_blue th, .contents table .back_blue td {
    background-color: rgba(223, 235, 255, 0.8); }
.contents .ntt thead th {
  background-color: rgba(44, 126, 255, 0.8);
  color: #FFF; }
.contents .enemy thead th {
  background-color: rgba(77, 77, 77, 0.8);
  color: #FFF; }

/*# sourceMappingURL=results.css.map */
