@charset "utf-8";
/* CSS Document */

@import "settings";

footer {
	color: $white;
	font-size: 0.8em;
	clear: both;

	ul {
		display			: flex;
		flex-flow		: row nowrap;
		justify-content	: center;
		align-items		: stretch;
		align-content	: flex-start;
		width			: $max;
		margin			: 0 auto;
		padding			: 10px 10px 0.5em 10px;
		background-color: $black;
		
		li {
			flex: 1 1 200px;
			
			a {
				color: #FFF;
			}
				
			small {
				display: block;
				text-align: right;
			}
		}
	}
}