@charset "utf-8";
/* CSS Document */

@import "settings";

header#top {
	width			: $max;
	background-color: $white;
	overflow		: hidden;
	display			: table;
	padding			: 10px 10px $FS 10px;
	overflow		: hidden;
	
	h1 {
		display: table-cell;
	}

	#topnavi {
		font-size		: 0.8em;
		color			: #0033cc;
		display			: table-cell;
		text-align		: right;
		vertical-align	: middle;
		padding-top		: 0.5em;
	
			@include media($fh) {
				padding-top: 0;
			}
		
		li {
			display		: inline;
			margin-left : 2em;
	
			@include media($fh) {
				display		 : block;
				margin-bottom: -0.6em;
			}
		}
	}
}
		
#global {
	@include abT(4.24rem,0,2);
	@include Modal4;
	color			: $white;
	width			: $max;
	box-shadow		: 0 1px 5px 0 rgba(0,0,0,0.6);
	
	@include media($six) {
		background: none;
		box-shadow: none;
	}
	
	&.fix {
		@include fixT(0,0,2);
		
		#live {
			top: 0.5em;
		}
	}
	
	.new {
		@include abR(0.4em,0,1);
		width			: 1.5em !important;
		height			: 1.5em !important;
		font-size		: 0.75em;
		font-weight		: normal;
		text-align		: center;
		line-height		: 0.8em;
		color			: $white;
		background-color: #F00 !important;
		border-radius	: 1.5em !important;
		padding-top		: 0.4em !important;
	}

	h2 {
		text-align		: center;
		margin			: -0.27em auto 0 auto;
	
			@include media($of) {
				margin-top: -0.2em;
			}
	
			@include media($six) {
				@include abT(0.8em,18%,2);
				background: none;
				text-align: left;
			}
		
		img {
			width	  : $max * 0.3;
			min-width : 340px;
			max-width : 672px;
			height	  : auto;
	
			@include media($six) {	
				min-width	: 90px;
			}
		}
	}
	
	& > dl {
		display			: flex;
		flex-flow		: row wrap;
		justify-content	: center;
		align-items		: stretch;
		align-content	: flex-start;
		width			: $max;
		margin-bottom	: -0.27em;
		
		@include media($six) {
			height		: 550px;
			overflow	: auto;
		}
	
		.menu-trigger,.menu-trigger span {
			display		: block;
			transition	: all .4s;
			box-sizing	: border-box;
		}
		
		.menu-trigger {
			@include abT(0,0,1);
			cursor			: pointer;
			text-align		: center;
			padding			: $max*0.008 $max*0.01;
	
			@include media($of) {
				padding-top	: $max*0.004;
			}
	
			@include media($six) {
				padding			: $max*0.01;
				font-size		: 0.75rem;
				width			: $max;
				@include Modal;
			}
			
			span {
				height			: 2px;
				background-color: #fff;
				border-radius	: 2px;
				margin			: 0.7em;
				width			: 2.5em;
			}
			
			&.on {
				background: none;
				
				span:nth-of-type(1) {
					-webkit-transform: translateY(0.85em) rotate(-315deg);
					transform: translateY(0.85em) rotate(-315deg);
				}
				
				span:nth-of-type(2) {
					opacity: 0;
				}
				
				span:nth-of-type(3) {
					-webkit-transform: translateY(-0.85em) rotate(315deg);
					transform		 : translateY(-0.85em) rotate(315deg);
				}
			}
			
			i {
				@include abT(32%,5em,0);
				font-size	: 1.25em;
				padding		: 0 5em 5em 0;
				
				@include media($of) {
					@include abT(25%,4.2em,0);
				}

				@include media($nf) {
					display: none;
				}
			}
		}
		
		& > dd {
			padding			: 5em 1em;
			display			: none;
			vertical-align	: top;
			width			: $max / 3;
			flex			: 1 1 250px;
			margin-bottom	: 0.27em;
				
			@include media($six) {
				margin-bottom: 0;
				padding		 : 6em 1em 1em;
				@include Modal;
			}
			
			&:nth-of-type(2) {
				border-left	: $white 1px dotted;
				border-right: $white 1px dotted;
				
				@include media($six) {
					border: none;
				}
			}
			
			dl {
				margin : 0 auto;
				display: none;
				
				dt {
					font-weight		: bold;
					margin-bottom	: 1.5rem;
					padding			: 0.5rem;
					border-top		: $white 1px solid;
					border-bottom	: $white 1px solid;
				}
				
				dd {
					background	: none;
					margin		: 0.5em 0 0 1.5em;
					color		: lighten($black , 45%);
					position	: $r;
					
					a {
						color: $white;
						
						&.active {
							color			: $blue;
							text-decoration	: line-through; 
						}
					}
						
					span {
						margin-right: 0.5rem;
					}
				}
			}
					
			i {
				font-style	: normal;
				font-family	: century;
				font-weight	: normal;
				font-size	: 0.6rem;
				margin-left	: 1rem;

				@include media($ot) {
					display: none;
				}
			}
		}
	}
	
	#live {
		@include abR(-1em,0.5em,1);
		display		: block;
		width		: $max * 0.1;
		min-width	: 70px;
		max-width	: 195px;
		height		: auto;
	}
}