@charset "utf-8";
/* CSS Document */

@import "settings";
	
article {

	& > .contents {
		padding: 8em $max*0.03 !important;
		
		& > div {
			width	: $max;
			position: $r;
			overflow: hidden;
			border	: none !important;
			padding	: 0 !important;
	
			&> img {
				margin	: 0 !important;
				padding	: 0 !important;
				width	: $max * 0.515;
				
				@include media($six) {
					width: $max;
				}
			}
			
			&> section {
				margin			: 0 !important;
				padding			: 0 $max*0.03 !important;
				background-color: $white !important;
				border			: none !important;
				overflow		: auto;
				
				&:not(.left):not(.right) {
					width : $max * 0.515 !important;
				}
				
				@include media($six) {
					height: auto !important;
				}
			}
						
			&> .left {
				@include abT(0,100%,1);
				width: $max / 2;
				
				@include media($six) {
					position: static;
					width	: $max;
				}
			}
			
			&> .right {
				@include abT(0,50%,0);
				width	: $max / 2;
				display : none;
				
				@include media($six) {
					position: static;
					width	: $max;
					display	: block;
				}
				
				&> img {
					padding: 0 !important;
				}
			}
			
			h5 {
				margin		 : 2.5em 0;
				padding		 : 1em;
				color		 : $navy;
				border-top	 : $navy 3px double;
				border-bottom: $navy 3px double;
			}
			
			p {
				margin-bottom: 1em;
				
				&:last-of-type {
					margin-bottom: 4em;
				}
			}
			
			a button {
				display			: block;
				text-decoration : none;
				background-color: $blue;
				margin-bottom	: 2em;
				padding			: 0.5em;
				text-align		: center;
				color			: $white;
				overflow		: hidden;
				width			: $max;
				cursor			: pointer;
				border			: none;
	
				&:hover {
					opacity: 0.8;
				}
			}
		}

		ul {
			display			: table;
			background-color: lighten($modal , 10%);
			text-align		: center;
			margin			: -7.7em auto 5em auto;
			position		: $r;
			z-index			: 1;
			
			li {
				display		: table-cell;
				padding		: 1em 1.5em;
				font-weight	: bold;
					
				&.show {
					a {
						color: $blue;
					}
				}
				
				a {
					color: $white;
				}
			}
		}
	}
}