@charset "utf-8";
/* CSS Document */

@import "settings";

#side {
	@include fixB(35%,0,6);
	right		: 0.5rem;
	text-align	: right;
	font-size	: 0.9rem;
	display		: none;
		
		li {
			list-style : none;
			line-height: 1.5rem;
			
			 a {
				color			: $white;
				text-decoration	: none;
				margin-left		: 0.2rem;
				cursor			: pointer;
	
				span {
					display: none;
				}
			 }
		}
		
	.on,.on a {
		color: $blue;
	}
	
	@include media($fh) {
		display: none !important;
	}
}